<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.spring.token.model.dao.TokenMapper">
    <insert id="saveToken">
        INSERT
        INTO
        MY_MEMBER_TOKEN
        VALUES
        (
        #{token}
        ,#{memberNo}
        ,#{expiration}
        )
    </insert>

    <delete id="deleteExpiredRefreshToken">
        DELETE
        FROM
        MY_MEMBER_TOKEN
        WHERE
        EXPIRATION &lt; #{now}  <!-- <![CDATA[<]]> -->
    </delete>

    <select id="findByToken">
        SELECT
        TOKEN
        ,MEMBER_NO memberNo
        ,EXPIRATION
        FROM
        MY_MEMBER_TOKEN
        WHERE
        TOKEN = #{token}



    </select>

</mapper>